@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Flex layout*/

@keyframes color {
    0%   { background: #33CCCC; }
    20%  { background: #33CC36; }
    40%  { background: #B8CC33; }
    60%  { background: #FCCA00; }
    80%  { background: #33CC36; }
    100% { background: #33CCCC; }
}

.flex-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;

    font-family: 'Roboto Serif', sans-serif;

    background: #33CCCC; /* Fallback */
    animation: color 9s infinite linear;
}
.flex-item {
    flex-basis: 50px;
}

.item-2 {
    flex-grow: 1;
}

main {
    display: flex;
    justify-content: center;
}

/* Logo */
.logo {
    margin: 10px 0;

    color: white;
    font-family: 'Satisfy', cursive;
    font-size: 50px;
}

/* ToDoList */

#main-container {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    max-width: 1000px;
    position: relative;

    display: flex;
    flex-direction: column;
}

.box {
    border-radius: 10px;
    padding: 20px 25px;
}

.date-block {
    position: absolute;
    bottom: 5px;
    left: 50%;
    margin-left: -50px;
}

h3 {
    font-size: 14px;
}

.role-title {
    font-size: 20px;
    text-decoration: underline;
    margin-bottom: 10px;
}

.products {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-evenly;
}

.product {
    border: 1px solid black;
    border-radius: 15px;
    margin-bottom: 20px;
    flex-grow: 1;
    padding: 10px;
}

button {
    border: none;
    color: white;
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 15px;
}

.buy {
    background: brown;
}

.add {
    background: green;
}

.show-card {
    background: yellowgreen;
}

button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

/* Footer */
footer p {
    color: white;
    font-family: 'Satisfy', cursive;
    font-size: 24px;
    margin-top: 10px;
}

@media screen and (max-width: 450px){

}

